body{
    background-color: #6D3755;
    color: white;
}

#videoMonAmour{
    width: 70%;
    height: auto;
}

video{
    width: 100%;
    height: auto;
}

figcaption{
    font-style: italic;
}

.titulo{
    font-style: italic;
}


